body {
    font-family:'Raleway', 'Open Sans', sans-serif;
}
p {
    margin: 5px 0;
}
strong {
    font-weight: 700;
}
h1, h2, h3, h4, h5 {
    margin: 10px 0 15px 0;
}
header, nav {
    text-align: center;
    min-width: 767px;
}
li {
    display: inline;
}

/* 	Information boxes for different chart layouts */
/* Positioning */
#initial-content, #a, #b, #c, #d, #e, #f, #view-party-type, #view-donor-type, #view-source-type,#view-donation-amount, #partyInfo, #conservative, #labour, #libdem, #individual, #company, #union, #society, #other, #public-or-private-money, #public-or-private-money-split, #private-money, #public-money { 
    position: absolute; 
}

/* Initial appearance on load */
#view-party-type, #view-donor-type, #view-source-type, #view-donation-amount{
    display: none;
}

/* View containers */
#initial-content, #view-source-type, #view-donation-amount {
    left: 650px;
    width: 400px;
}
#view-party-type{
    left: 650px;
    width: 272px;
}

/*split by amount of donation*/
#view-donation-amount{
	left: 700px;
	width: 272px;
}

#mil{
	top: 70px;
	padding-top: 50px;
}

#halfMil{
	top: 500px;
	padding-top: 200px;
}

#hunK{
	top: 390px;
	padding-top: 100px;
}

#fiftyK{
	top: 530px;
	padding-top: 100px;
}

#twenK{
	top: 660px;
	padding-top: 140px;
}

/*  Public or private funds view */

#public-or-private-money {
    max-width: 300px;
}
#public-or-private-money-split {
    top: 550px;
    left: -600px;
    text-align: center;   
}
#private-money, #public-money {
    width: 200px;
}
#private-money {
    left: 200px;
}
#public-money {
    left: 610px;
}

/*  Party view */
#conservative, #labour, #libdem { padding: 10px; }
#conservative {
    background: rgba(8, 127, 189, 0.2);
    top: 110px;
}
#labour {
    background: rgba(240, 34, 51, 0.2);
    top: 330px;
}
#libdem {
    background: rgba(253, 187, 48, 0.2);
    top: 550px;
}

/*	Donor type layout */
#view-donor-type {
    height: 100%;
    left: 500px;
    width: 370px;
    
}
#individual {
    top: 55px;
}
#company {
    top: 390px;
}
#union {
    top: 660px;
}
#society {
    top: 205px;
    text-align: right;
    right: 0;
}
#other {
    top: 530px;
    text-align: right;
    right: 0
}

/* Value scale */

#value-scale {
    opacity: 0.5;
    font-size: 0.75em;
}
#a, #b, #c, #d, #e { left: 40px; }
#a { top: 635px;}
#b { top: 585px;}
#c { top: 535px;}
#d { top: 485px;}
#e { top: 435px;}
#f { top: 648px; left: 575px; }

/* End of view */


.tooltip {
    margin: 0;
    padding: 5px;
    line-height: 1.4;
    display: none;
    height: 125px;
    width: 280px;
    text-align: left;
    border: 4px solid rgba(0, 0, 0, .8);
    border-radius: 2px;
    -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
}
.tooltip p, h3 {
    margin: 0.2em;
}


#chart{
	max-width: 1000px;
	overflow-x: scroll;
}

#overlay {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  display: inline-block;
  background-color: white;
  background-repeat: no-repeat;
}